<div class="container">
    <div class="header text-center">
        <button class="btn ml-1 mr-1" [class.btn-primary]="channel === selectedChannel" *ngFor="let channel of channels" (click)="selectChannel(channel)">
            {{channel.name}}
        </button>
    </div>

    <div class="drag-container">
        <div class="editor" [style.width]="width" [style.height]="height">
            <app-grid [xSegments]="24" [ySegments]="10"></app-grid>
        
            <div class="channel" *ngFor="let channel of channels; let j = index"
                [class.active]="channel === selectedChannel"
                [class]="channel.class"
                (dblclick)="onAdd(channel, $event)">
    
                <svg [attr.width]="width" [attr.height]="height" viewport="0 0 500 300">
                    <path [attr.d]="elements[j].svg" fill="none" stroke-width="2" />
                </svg>

                <div *ngFor="let point of channel.points; let i = index" class="point" 
                    cdkDrag 
                    cdkDragBoundary=".drag-container"
                    (cdkDragMoved)="onMoved(i, channel, $event)"
                    (cdkDragEnded)="onMoveEnded(i, channel, $event)"
                    [cdkDragFreeDragPosition]="elements[j].points[i + 1]"
                    (onLongPress)="onRemove(i, channel)" [duration]="3000">
                    <div class="point-inner"></div>
                </div>
            </div>

            <div *ngIf="dragging">
                <div class="v-line" [style.left]="currentX + 'px'"></div>
                <div class="h-line" [style.top]="currentY + 'px'"></div>

                <div class="percentage" [style.top]="currentY + 'px'">
                    {{currentY}}
                </div>
 
                <div class="time" [style.left]="currentX + 'px'">
                    {{currentX}}
                </div>
            </div>
        </div>
    </div>
</div>