<div class="container">
    <div class="header text-center">
        <button class="btn ml-1 mr-1" [class.btn-primary]="channel === selectedChannel" *ngFor="let channel of channels" (click)="selectChannel(channel)">
            {{channel.name}}
        </button>
    </div>

    <div class="drag-container" (appResized)="onResize($event)">
        <div class="editor" [style.width]="sizeX | layoutPixel" [style.height]="sizeY | layoutPixel">
            <app-grid 
                [xSegments]="24" 
                [ySegments]="10"
                [xLabels]="['00:00', '12:00', '24:00']"
                [yLabels]="['0%', '50%', '100%']">
            </app-grid>
        
            <div class="channel" *ngFor="let channel of channels; let j = index"
                [class.active]="channel === selectedChannel"
                [class]="channel.class"
                (dblclick)="onAdd(channel, $event)">
    
                <svg [attr.width]="sizeX | layoutPixel" [attr.height]="sizeY | layoutPixel">
                    <path [attr.d]="elements[j].svg" fill="none" stroke-width="2" />
                </svg>

                <div *ngFor="let point of channel.points; let i = index" class="point" 
                    cdkDrag 
                    cdkDragBoundary=".drag-container"
                    (cdkDragMoved)="onMoved(i, channel, $event)"
                    (cdkDragEnded)="onMoveEnded(i, channel, $event)"
                    [cdkDragFreeDragPosition]="elements[j].points[i + 1]"
                    (longPress)="onRemove(i, channel)" 
                    [longPressDuration]="3000">
                    <div class="point-inner"></div>
                </div>
            </div>

            <div *ngIf="dragging">
                <div class="v-line" [style.left]="currentX | layoutPixel"></div>
                <div class="h-line" [style.top]="currentY | layoutPixel"></div>

                <div class="percentage" [style.top]="currentY | layoutPixel">
                    {{currentYValue}}
                </div>
 
                <div class="time" [style.left]="currentX | layoutPixel">
                    {{currentX}}
                </div>
            </div>
        </div>
    </div>
</div>