@mixin position($t: null, $r: null, $b: null, $l: null) {
    bottom: $b; left: $l; right: $r; top: $t;
}

@mixin absolute($t: null, $r: null, $b: null, $l: null) {
    @include position($t, $r, $b, $l);
    position: absolute;
}

$color-gray: #ddd;
 
.h-line {
    @include absolute(null, 0, null, -6px);
    border-top: 2px solid $color-gray;
}

.v-line {
    @include absolute(0, null, -6px, null);
    border-left: 2px solid $color-gray;
}

:host {
    @include absolute(0, 0, 0, 0);
    border-left: 1px solid #777;
    border-bottom: 1px solid #777;
    pointer-events: none;
}



.x-label {
    @include absolute(null, null, -25px);
    margin-left: -50px;
    text-align: center;
    text-decoration: none;
    width: 100px;
}

.y-label {
    @include absolute(null, null, null, -105px);
    height: 20px;
    line-height: 20px;
    margin-bottom: -10px;
    text-align: right;
    text-decoration: none;
    width: 100px;
}